{{extend 'longboxes_layout.html'}}

{{block title}}Home{{end}}

{{block header}}

<header class="jumbotron">
  <div class="container">
    <h1>Your collection starts here...</h1>

    <p>
      Longboxes is a site to manage your own comic book collection and explore comics owned by other avid collectors.
      {{if not auth.user:}}
        Registration takes less than a minute and is completely free, so what are you waiting for?
      {{pass}}
    </p>

    {{if not auth.user:}}
      <p>
        <a href="{{=URL('default', 'user', args=['register'])}}" class="btn btn-primary btn-lg">
          Create an account
        </a>

        <a href="{{=URL('default', 'user', args=['login'])}}" class="btn btn-default">
          Login
        </a>
      </p>
    {{pass}}
  </div>
</header>

{{end}}

{{block body}}
<div class="row">
  <div class="col-sm-6">
    <h2>Largest boxes</h2>

    <ul class="list-group">
      {{boxes = largest}}
      {{include 'box_listgroup.html'}}
    </ul>
  </div>

  <div class="col-sm-6">
    <h2>Recently created boxes</h2>

    <ul class="list-group">
      {{boxes = recent}}
      {{include 'box_listgroup.html'}}
    </ul>
  </div>
</div>
{{end}}
