{{extend 'longboxes_layout.html'}}

{{block body}}

<p>Not putting any stupid placeholder text because I'm bound to forget it.</p>

<h2>Explore</h2>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Largest boxes</h3>
      </div>

      <ul class="list-group">
        {{for box in largest:}}
        <a class="list-group-item" href="{{=URL('box', 'view', args=[box.id])}}">
           {{=box.name}}

           <span class="text-muted">by {{=box.owner.screen_name}}</span>
        </a>
        {{pass}}
      </ul>
    </div>
  </div>

  <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Recently created boxes</h3>
        </div>

        <ul class="list-group">
          {{for box in recent:}}
            <a class="list-group-item" href="{{=URL('box', 'view', args=[box.id])}}">
            {{=box.name}}

            <span class="text-muted">by {{=box.owner.screen_name}}</span>
            </a>
          {{pass}}
        </ul>
      </div>
    </div>
</div>
{{end}}
