{{extend 'longboxes_sidebar.html'}}

{{block pre_body}}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">{{=user.screen_name}}</li>
</ol>

<h2>{{=user.screen_name}}'s collection</h2>
{{end}}

{{block sidebar}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Boxes</h3>
  </div>

  <ul class="list-group">
  {{for box in boxes:}}
    <a class="list-group-item" href="{{=URL('box', 'view', args=[box.id])}}">
    {{=box.name}}
    </a>
  {{pass}}
  </ul>
</div>
{{end}}

{{block main}}
  <h3>Comics</h3>
  {{if comics:}}
    {{include 'comics_preview.html'}}
  {{else:}}
    <p class="text-muted">This user has no comics.</p>
  {{pass}}
{{end}}
