{{extend 'longboxes_sidebar.html'}}

{{block title}}{{=user.screen_name}}{{end}}

{{block breadcrumbs}}
<li class="active">{{=user.screen_name}}</li>
{{end}}

{{block pre_body}}
<div class="header-actions">
  <h2>{{=user.screen_name}}'s collection</h2>
</div>
{{end}}

{{block sidebar}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Boxes</h3>
  </div>

  <ul class="list-group">
    {{include 'box_listgroup.html'}}

    {{if user_owned:}}
      <a class="list-group-item list-group-item-success" href="{{=URL('box', 'create')}}">
        <span class="glyphicon glyphicon-plus"></span>
        New box
      </a>
    {{pass}}
  </ul>
</div>
{{end}}

{{block main}}
  {{include 'comics_preview.html'}}
{{end}}
