{{if comics:}}
  <div class="row">
  {{for i, comic in enumerate(comics):}}
    {{if i % 3 == 0:}}
  </div>
  <div class="row">
  {{pass}}

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">{{=comic.full_name}}</h4>

          {{for box in comic.boxes:}}
            <a href="{{=box.url}}" class="label-link">
              <span class="label label-{{='default' if box.private else 'info'}}">
                {{if box.private:}}
                  <span class="glyphicon glyphicon-lock"></span>
                {{pass}}

                {{=box.name}}
              </span>
            </a>
          {{pass}}
        </div>

        <ul class="list-group">
          <li class="list-group-item comic-cover-list-group-item">
            <a class="comic-cover-container" href="{{=comic.url}}">
              <div class="comic-cover-background" style="background-image: url({{=URL('default', 'download', args=[comic.cover_image])}})"></div>
            </a>
          </li>

          <a class="list-group-item" href="{{=comic.url}}">
            <span class="glyphicon glyphicon-expand"></span>
            More information
          </a>

        {{collection_view_url = URL('collection', 'view', args=[comic.owner.id])}}

        {{if collection_view_url not in request.url:}}
          <a class="list-group-item" href="{{=collection_view_url}}">
            <span class="glyphicon glyphicon-user"></span>
            View <em>{{=comic.owner.screen_name}}</em>'s collection
          </a>
        {{pass}}

        {{if 'box' in response._vars and auth.user and box.owner.id == auth.user.id and not box.is_unfiled:}}
        <form action="{{=URL('box', 'remove_comic')}}" method="post">
          <input type="hidden" name="box" value="{{=box.id}}">
          <input type="hidden" name="comic" value="{{=comic.id}}">

          <button class="list-group-item" type="submit">
            <span class="glyphicon glyphicon-trash"></span>
            Remove from box
          </button>
        </form>
        {{pass}}
        </ul>
      </div>
    </div>
  {{pass}}
  </div>
{{else:}}
  <p class="text-muted">No comics to display.</p>
{{pass}}
