@import "variables.less";
@import "mixins.less";

/* ============================================================================
 *
 *  Foundation
 *
 * ========================================================================= */

body {
  padding-top: @navbar-height;
}

nav + main {
  /* put spacing between the navbar and main body */
  margin-top: 20px;
}

main > h2:first-child {
  /* remove the margin as we already have some on the main element */
  margin-top: 0;
}

textarea {
  resize: vertical;
}

.header-actions {
  .clearfix;

  margin-bottom: 10px;

  h2 {
    margin: 0 0 10px;
    float: left;
  }

  .btn-group {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

#submit_record__row .btn {
  /* add spacing between web2py buttons */
  margin-right: 8px;
}

/* ============================================================================
 *
 *  Navigation bar
 *
 * ========================================================================= */

.navbar {
  @lb-search-muted: #7f8c8d;
  @lb-search-active: @navbar-inverse-link-hover-color;

  [name=search] {
    border: solid 2px @lb-search-muted;
    color: @lb-search-active;
    background-color: transparent;

    &::-webkit-input-placeholder {
      color: @lb-search-muted;
    }

    &:focus {
      border-color: @lb-search-active;
      box-shadow: none;
    }
  }

  .btn-inverse {
    background-color: @lb-search-muted;

    &:hover, &:focus {
      background-color: @lb-search-active;
    }
  }
}

.navbar-brand img {
  height: 100%;
}

.navbar-nav a > .glyphicon {
  margin-right: 0.2em;
}

/* ============================================================================
 *
 *  Person labels
 *
 * ========================================================================= */

.person-label-list {
  line-height: 2em;
}

.person-label {
  font-size: 1em;
  font-weight: normal;
  margin-right: 5px;

  .glyphicon {
    margin-left: 4px;
  }
}

/* ============================================================================
 *
 *  Comic page
 *
 * ========================================================================= */

.comic-desc {
  white-space: pre-wrap;
  font-size: 1.1em;
  text-align: justify;
}

.comic-cover {
  max-width: 100%;
  float: left;
  padding: 0 15px 10px 0;
}

/* ============================================================================
 *
 *  Comic preview panel
 *
 * ========================================================================= */

.comic-preview {
  .panel-title {
    min-height: 2em * @headings-line-height;
  }
}

.comic-preview-cover-list-group-item {
  padding: 0;
}

.comic-preview-cover-container {
  display: inline-block;
  width: 100%;

  &::after {
    content: '';
    display: block;

    /* ensure container height is always 1/4 taller than it is wide, i.e. 3:4 ratio */
    margin-top: 125%;
  }
}

.comic-preview-cover {
  position: absolute;
  width: 100%;
  height: 100%;

  /* ensure background image always fills the space, no letterboxing */
  object-fit: cover;
  object-position: top;
}

/* ============================================================================
 *
 *  Breadcrumbs
 *
 * ========================================================================= */

.lb-breadcrumbs {
  @breadcrumb-height: 40px;

  background-color: @jumbotron-bg;
  border-bottom: solid 1px @panel-default-border;

  ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    height: @breadcrumb-height;
    line-height: @breadcrumb-height;

    &.active {
      color: @text-muted;
    }

    a {
      display: inline-block;
      height: @breadcrumb-height;
    }
  }

  li + li {
    padding-left: 20px;
    background-image: url('../images/breadcrumb_sep.png');
    background-repeat: no-repeat;
    background-size: 13px 40px;
  }
}
