body {
  padding-top: 60px;
}
textarea {
  resize: vertical;
}
.nodecoration {
  text-decoration: none !important;
}
.navbar [name=search] {
  border: solid 2px #7f8c8d;
  color: #ecf0f1;
  background-color: transparent;
}
.navbar [name=search]::-webkit-input-placeholder {
  color: #7f8c8d;
}
.navbar [name=search]:focus {
  border-color: #ecf0f1;
  box-shadow: none;
}
.navbar .btn-inverse {
  background-color: #7f8c8d;
}
.navbar .btn-inverse:hover,
.navbar .btn-inverse:focus {
  background-color: #ecf0f1;
}
.navbar-brand img {
  height: 100%;
}
.person-label-list {
  line-height: 2em;
}
.person-label {
  font-size: 1em;
  font-weight: normal;
  margin-right: 5px;
}
.person-label .glyphicon {
  margin-left: 4px;
}
nav + main {
  margin-top: 20px;
}
main > h2:first-child {
  margin-top: 0;
  /* remove the margin as we already have some on the main element */
}
.comic-desc {
  white-space: pre-wrap;
  font-size: 1.1em;
  text-align: justify;
}
.comic-cover {
  max-width: 100%;
  float: left;
  padding: 0 15px 10px 0;
}
.comic-preview-cover-list-group-item {
  padding: 0;
}
.comic-preview-cover-container {
  display: inline-block;
  width: 100%;
}
.comic-preview-cover-container::after {
  content: '';
  display: block;
  margin-top: 125%;
  /* ensure container height is always 1/4 taller than it is wide, i.e. 3:4 ratio */
}
.comic-preview-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* ensure background image always fills the space, no letterboxing */
  object-position: top;
}
#submit_record__row .btn {
  margin-right: 8px;
}
.header-actions {
  margin-bottom: 10px;
}
.header-actions:before,
.header-actions:after {
  content: " ";
  display: table;
}
.header-actions:after {
  clear: both;
}
.header-actions h2 {
  margin: 0 0 10px;
  float: left;
}
.header-actions .btn-group {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}
.lb-breadcrumbs {
  background-color: #ecf0f1;
  border-bottom: solid 1px #ddd;
}
.lb-breadcrumbs ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
.lb-breadcrumbs li {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.lb-breadcrumbs li.active {
  color: #777777;
}
.lb-breadcrumbs li a {
  display: inline-block;
  height: 40px;
}
.lb-breadcrumbs li + li {
  padding-left: 20px;
  background-image: url('../images/breadcrumb_sep.png');
  background-repeat: no-repeat;
  background-size: 13px 40px;
}
