{{extend 'longboxes_singlecol.html'}}

{{block title}}Search{{end}}

{{block breadcrumbs}}
<li class="active">Search: <em>{{=original_search}}</em></li>
{{end}}

{{block body}}
<div class="header-actions">
  <h2>Search results</h2>

  <div class="btn-group" role="group">
    <a class="btn btn-default {{='active' if only_field is None else ''}}" href="{{=URL('comic', 'search', vars={'search': search})}}">
      Search all
    </a>

    <a class="btn btn-default {{='active' if only_field == 'title' else ''}}" href="{{=URL('comic', 'search', vars={'search': 'title:' + search})}}">
      Title only
    </a>

    <a class="btn btn-default {{='active' if only_field == 'publisher' else ''}}" href="{{=URL('comic', 'search', vars={'search': 'publisher:' + search})}}">
      Publisher only
    </a>

    <a class="btn btn-default {{='active' if only_field == 'writer' else ''}}" href="{{=URL('comic', 'search', vars={'search': 'writer:' + search})}}">
      Writer only
    </a>

    <a class="btn btn-default {{='active' if only_field == 'artist' else ''}}" href="{{=URL('comic', 'search', vars={'search': 'artist:' + search})}}">
      Artist only
    </a>
  </div>
</div>

<p class="lead">{{=original_search}}</p>

{{include 'comics_preview.html'}}
{{end}}
