{{extend 'longboxes_sidebar.html'}}

{{block title}}Comic: {{=comic.full_name}}{{end}}

{{block breadcrumbs}}
<li><a href="{{=URL('collection', 'view', args=[owner.id])}}">{{=owner.screen_name}}</a></li>
<li class="active">Comic: {{=comic.full_name}}</li>
{{end}}

{{block pre_body}}
<div class="header-actions">
  <h2>
    {{=comic.full_name}}

    <small>
      by
      <a href="{{=URL('collection', 'view', args=[comic.owner.id])}}">{{=comic.owner.screen_name}}</a>
    </small>
  </h2>

  <div class="btn-group" role="group">
  {{if can_edit:}}
    <a class="btn btn-danger" href="{{=URL('comic', 'delete', args=[comic.id])}}" data-confirm-click="delete this comic">
      <span class="glyphicon glyphicon-trash"></span>
      Delete
    </a>

    <a class="btn btn-default" href="{{=URL('comic', 'edit', args=[comic.id])}}">
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    </a>
  {{pass}}

  {{if available_boxes:}}
    <button class="btn btn-success" data-toggle="modal" data-target="#add_to_box_modal">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Add to box
    </button>
  {{pass}}
  </div>
</div>

{{if available_boxes:}}
  <div class="modal fade" id="add_to_box_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add to box</h4>
        </div>

        <form action="{{=URL('box', 'add_comic')}}" method="post">
          <input type="hidden" name="comic" value="{{=comic.id}}">

          <div class="modal-body">
            <div class="form-group">
              <label for="box">Box</label>

              <select class="form-control" name="box" id="new_box_select">
                <option value="new">(Create new)</option>

                {{for box in available_boxes:}}
                  <option value="{{=box.id}}" {{if box.is_unfiled:}}selected{{pass}}>
                    {{=box.name}}
                  </option>
                {{pass}}
              </select>
            </div>

            <div id="new_box_group" class="form-group hidden">
              <label for="name">New box name</label>
              <input type="hidden" class="form-control" name="name" required>

              <div class="checkbox">
                <label>
                  <input name="private" type="checkbox">
                  Private
                </label>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add to box</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{{pass}}
{{end}}

{{block sidebar}}
<ul class="list-group">
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Publisher</h4>
    <p class="list-group-item-text">
      <a href="{{=URL('comic', 'search', vars={'search': 'publisher:' + comic.publisher.name})}}">
        {{=comic.publisher.name}}
      </a>
    </p>
  </li>

  <li class="list-group-item">
    <h4 class="list-group-item-heading">Writers</h4>
    <p class="list-group-item-text person-label-list">
      {{people = writers}}
      {{include 'comic/people_list.html'}}
    </p>
  </li>

  <li class="list-group-item">
    <h4 class="list-group-item-heading">Artists</h4>
    <p class="list-group-item-text person-label-list">
      {{people = artists}}
      {{include 'comic/people_list.html'}}
    </p>
  </li>
</ul>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Belongs to</h3>
  </div>

  <ul class="list-group">
  {{for box in boxes:}}
    <form action="{{=URL('box', 'remove_comic')}}" method="post">
      <input type="hidden" name="box" value="{{=box.id}}">
      <input type="hidden" name="comic" value="{{=comic.id}}">

      <a class="list-group-item" href="{{=box.url}}">
        {{if can_edit and not box.is_unfiled:}}
          <button type="submit" class="close" title="Remove comic from box">
            &times;
          </button>
        {{pass}}

        {{if box.private:}}
          <span class="glyphicon glyphicon-lock"></span>
        {{else:}}
          <span class="glyphicon glyphicon-th"></span>
        {{pass}}

        {{=box.name}}

        <span class="label label-default">{{=box.comic_count}}</span>
      </a>
    </form>
  {{pass}}

    <a class="list-group-item" href="{{=URL('collection', 'view', args=[owner.id])}}">
      <span class="glyphicon glyphicon-user"></span>
      View <em>{{=owner.screen_name}}</em>'s collection
    </a>
  </ul>
</div>
{{end}}

{{block main}}
<div class="clearfix">
  <img class="comic-cover" src="{{=comic.cover_url}}">

  <p class="comic-desc">{{=comic.description}}</p>
</div>
{{end}}

{{block page_js}}
<script src="{{=URL('static','js/new_box_form.js')}}"></script>
{{end}}
