{{extend 'longboxes_singlecol.html'}}

{{block title}}Box: {{=box.name}}{{end}}

{{block breadcrumbs}}
<li><a href="{{=URL('collection', 'view', args=[box.owner.id])}}">{{=box.owner.screen_name}}</a></li>
<li class="active">Box: {{=box.name}}</li>
{{end}}

{{block body}}
<div class="header-actions">
  <h2>
    {{if box.private:}}
      <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
    {{pass}}

    {{=box.name}}
    <small>
      by
      <a href="{{=URL('collection', 'view', args=[box.owner.id])}}">{{=box.owner.screen_name}}</a>

      created
      {{from gluon.tools import prettydate}}
      <abbr title="{{=box.created}}">{{=prettydate(box.created, T)}}</abbr>
    </small>
  </h2>

  {{if user_owned:}}
  <div class="btn-group" role="group">
    {{if can_edit:}}
      <a class="btn btn-danger" href="{{=URL('box', 'delete', args=[box.id])}}" data-confirm-click="delete this box">
        <span class="glyphicon glyphicon-trash"></span>
        Delete
      </a>

      <button class="btn btn-default" data-toggle="modal" data-target="#rename_modal">
        <span class="glyphicon glyphicon-pencil"></span>
        Rename
      </button>
    {{pass}}

    {{toggled_privacy = 'public' if box.private else 'private'}}
    <a class="btn btn-default" href="{{=URL('box', 'set_privacy', args=[box.id], vars={'privacy': toggled_privacy})}}">
      <span class="glyphicon glyphicon-lock"></span>
      Make {{=toggled_privacy}}
    </a>

    {{if can_edit:}}
      <button class="btn btn-success" data-toggle="modal" data-target="#add_comics_modal">
        <span class="glyphicon glyphicon-log-in"></span>
        Add comics
      </button>
    {{pass}}

    <a class="btn btn-success" href="{{=URL('comic', 'create', vars={'box': box.id})}}">
      <span class="glyphicon glyphicon-file"></span>
      New comic
    </a>
  </div>
  {{pass}}
</div>

{{if can_edit:}}
  <div class="modal fade" id="add_comics_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add comics</h4>
        </div>

        <form action="{{=URL('box', 'add_comic')}}" method="post">
          <input type="hidden" name="box" value="{{=box.id}}">

          <div class="modal-body">
            <div class="form-group">
              <label for="comic">Comics</label>

              <select class="form-control" name="comic" multiple>

              {{for comic in other_comics:}}
                <option value="{{=comic.id}}">{{=comic.full_name}}</option>
              {{pass}}
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add to box</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{{pass}}

{{if rename_form:}}
  <div class="modal fade" id="rename_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Rename box</h4>
        </div>

        <div class="modal-body">
          {{=rename_form}}
        </div>
      </div>
    </div>
  </div>
{{pass}}

{{include 'comics_preview.html'}}

{{end}}
